@model Modelo.Customer

<div class="container">
    <div class="row">
        <div class="col-6">
            Id:
        </div>
        <div class="col-6">
            @Model.Id
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Nome:
        </div>
        <div class="col-6">
            @Model.Name
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <form method="post" asp-action="ConfirmDelete" asp-controller="Customer">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </div>
        <div class="col-6">
            <a href="/Customer/Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</div>
